@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.st-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Staatliches", serif;
}

.st-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

.st-ul {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.st-ul .st-li {
  position: relative;
  list-style: none;
}

.st-ul .st-li .st-a {
  position: relative;
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: 0.5s;
}

.st-ul .st-li .st-a:hover {
  color: #69ff41;
}
